header {
    box-sizing: border-box;
    height: 20.15vh;
}

main {
    box-sizing: border-box;
    height: 70.35vh;
    z-index: 0;
}

footer {
    box-sizing: border-box;
    height: 9.5vh;
}

@media (max-width: 425px) {
    header {
        height: 26vh;
    }
    
    main{
        height: 59vh;
    }
    
    footer{
        height: 15vh;
    }
}
